*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #e6e6fa; */

}
.header{
    /* padding-top: 5px; */
    width: 100%;
    
}
.navbar{
    /* margin-right: 10px; */
    /* margin-left: 50px; */
    background-color: #0dacf0;
    height: 50px;
    /* border-radius: 20px; */
}
 .navbar ul{
    /* margin-right: 50px; */
    margin-left: 1000px;
    list-style: none;
    float: right;
    display: flex;
    
}
.navbar ul li{
    font-size: 20px;

}
.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #111;
}
.navbar ul li a:hover{
    background-color: #fff;
}
.navbar ul li .active{
    color: #fff;
}
.navbar ul li .active:hover{
    background-color: #111;
}

.container{
    width: 100%;
    max-height: 100%;
    margin-top: 0;
    background-color: #e6e6fa;
    /* background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url('images/bookimg.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;

}
.books-corner{
    padding-top: 15px;
}
#head{
    align-content: center;
    /* justify-content: center; */
    padding-left: 400px;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 600;
    color: #0dacf0;

}
.book1{
    display: flex;
}
.book-title{
    padding-left: 20px;
    font-size: 34px;
    color: #111;
}
.book-desc{
    padding-right: 50px;
    padding-left: 30px;
  
}
.img{
    padding-right: 600px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius: 15px;
}
.btn{
    margin-top: 30px;
    margin-left: 80px;
    height: 50px;
    width: 300px;
    color: #111;
    font-size: 18px;
    background-color: #0dacf0;
    border-radius: 20px;
}
.btn:hover{
    background-color: #e6e6fa;
    color: #0dacf0;
}
#what-i-know{
    padding-left: 100px;
}
#money{
    height: 300px; 
    /* width: 200px; */
    padding-left: 100px;
}
#night{
    height: 300px;
    /* width: 200px; */
    padding-left: 100px;
}
#atomic-habits{
    height: 300px;
    padding-left: 100px;
    border-radius: 20px;
    
} 
.favbooks{
    background-color: #fff;
    width: 80%;
    margin-left: 150px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.current-read{
    background-color: #fff;
    width: 80%;
    margin-left: 150px;
    border-radius: 30px;
}